GOOGLE_API_KEY = "Enter your Google API key here"
GROQ_API_KEY = "Enter your Groq API key here"
OPENAI_API_KEY = "Enter your Openai API key here"
OPENROUTER_API_KEY = "Enter your Openrouter API key here"
HUGGINGFACE_API_KEY = "Enter your Openrouter API key here"
TAVILY_API_KEY = "Enter your Openrouter API key here"