# for my Langchain and its usage

langchain
langchain-community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
google-genai
huggingface_hub
langchain-huggingface

ipykernel
pydantic

typing

# for my LangGraph and its usage

langgraph
langsmith
python-dotenv
langchain-tavily
langgraph-cli[inmem]

# for mcp server 

langchain-mcp-adapters
mcp
